
* {

  box-sizing: border-box;

}
.all { 
 margin : 0 auto; 
 }

ul {
	list-style: none;
	text-align: left;
	text-transform: uppercase;
	height: 60px;
	line-height: 60px;
	background-color:#556270;
	padding-right:10px;
	}
ul li {
	display:inline-block;
	padding-right: 10px;
}
ul li a  {
		color: white;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
    }

[class*="col-"] {
    width: 100%;
}

body {
	margin: 0;
	padding: 0;
}

img {
	min-width:100%;
}
.inline-elem {
	display: inline-block;
		
			}


@media only screen and (min-width: 992px) {
#banner {
	background-image: url('https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 24px;
}
div.content {
	padding-top: 100px;
	padding-left: 50px;
	color: white;
}
.ph2 {
		padding-left: 50px;
}
.inline-elem {
	display: inline-block;
		
			}
div.li2 {
		float: right;
			}
	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 32.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}	
	
.cot {
	display: inline-block;
	padding-left: 50px;
}

img {
	padding-top: 50px;
}
body {
	background-color:#e4e4e4;
}	
ul {
	padding-right:40px;
	margin: 0;
	background-color: white;
}
ul li a  {
		color: black;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
#banner{
	border-bottom: 3px solid gray;
	}
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 49%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

.cot {
	display: inline-block;
	padding-left: 5px;
}

img {
	padding-top: 2px;
}

.content {
	position: static;
	left: 0;
	margin : 10px auto; 
	font-family: Times New Roman;
}
div.li2 {
		float: right;
}
}